/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,300;1,600&display=swap');
* {
    font-family: 'Raleway';
    /* font-weight: bold; */
}

a {
    text-decoration: none;
}

ul,
li {
    list-style-type: none;
}

h2 {
    font-weight: bold;
    font-size: 1.3em;
}


/* body {
    
} */


/* Logo */

#logo {
    font-size: 1em;
}


/* Top Page */

#top_page {
    margin-top: 1em;
    display: flex;
    justify-content: space-between;
}


/* Nav Bar */

.top_nav ul li {
    display: inline-block;
    list-style: none;
}

.top_nav ul li a {
    font-size: 16px;
    margin-left: 50px;
    color: black;
}

#sign {
    color: #0065FC;
}


/* Effect Hover Nav Bar */

#activités:hover,
#hébergements:hover {
    padding-top: 3.6em;
    border-top: 2px solid #0065FC;
    color: #0065FC;
}


/* Introduction  */

.under_header {
    width: 50%;
    margin-top: 2em;
    margin-bottom: 2em;
}

h1 {
    margin: 0;
    font-size: 1.3em;
}

.under_header p {
    margin: 0;
}


/* Bloc Page*/

.bloc_page {
    margin: 45px auto 0;
    font-family: 'Raleway', sans-serif;
    max-width: 1440px;
}


/* Search Bar */

.search_button {
    background-color: #0065FC;
    color: white;
    border: 0;
    border-top-right-radius: 10px 10px;
    border-bottom-right-radius: 10px 10px;
    padding: 0.8em;
}

.icon_loc {
    padding: 0.7em;
    border-top-left-radius: 10px 10px;
    border-bottom-left-radius: 10px 10px;
    background-color: #F2F2F2;
}

.search_bar {
    display: flex;
    align-items: center;
    margin: 2em 0;
}

.search_bar input {
    font-size: 1em;
    padding: 0.5em;
}

.ville {
    font-weight: bold;
}

.phone {
    display: none;
}


/* Filtre */

.filter {
    display: flex;
    margin-bottom: 1em;
    font-weight: bold;
}

.filter p {
    margin-right: 2em;
}

.filter_list {
    display: flex;
}

.filter_elem {
    display: flex;
    align-items: center;
    margin-right: 2em;
}

.filter a {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #F2F2F2;
    font-family: 'Raleway';
    color: black;
    border-radius: 30px;
    padding-right: 1em;
}

.filter_list i {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0065FC;
    background-color: #DEEBFF;
    border-radius: 50%;
    height: 3em;
    width: 3em;
    margin-right: 0.5em;
}


/* Effect Filter:hover background color */

.filter a:hover {
    background-color: #0065FC;
    color: #fff;
    transition: 0.3s;
}


/* Info */

.info {
    display: flex;
    align-items: center;
    margin-bottom: 1em;
}

.info i {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #F2F2F2;
    border-radius: 50%;
    color: #0065FC;
    background-color: #fff;
    height: 2em;
    width: 2em;
    margin-right: 10px;
}


/* Main */


/* Hébergements */

.heb_block {
    background-color: #F2F2F2;
    padding-left: 25px;
    border-radius: 20px;
    width: auto;
}

.heb_block h2 {
    margin-top: 1em;
    width: auto;
}

.heb_group {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2em;
    width: auto;
}

.heb_items {
    display: flex;
    flex-direction: column;
    margin-right: 30px;
    padding: 5px;
    background-color: #fff;
    border-radius: 15px;
    color: black;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

.heb_items p {
    margin: 0;
    margin-bottom: 0.5em;
}

.heb_card {
    padding-left: 10px;
    line-height: 1.3em;
    margin-top: 5px;
}

.heb_card .stars {
    margin-top: 5px;
}


/* Lien HEB ("Afficher plus") */

#link_heb {
    display: block;
    margin-bottom: 1em;
    color: black;
    font-weight: bold;
}


/* Image Hebergement */

.pic_dim {
    height: 140px;
    width: 300px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    object-fit: cover;
}


/* Stars */

.stars {
    color: #0065FC;
}

.black_star {
    color: #F2F2F2;
}


/* Hébergement + Populaires */

.heb_pop {
    display: flex;
    justify-content: space-between;
}


/* Populaires */

.populaires {
    margin: 0;
    background-color: #F2F2F2;
    border-radius: 20px;
    width: auto;
}

.pop_top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 15px;
}

.pop_top i {
    font-size: 1.3em;
}

.pop_group {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.pop_content {
    display: flex;
    background-color: #fff;
    padding: 5px;
    border-radius: 10px;
    margin: 15px;
    width: 320px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}


/* Image populaires */

.pop_img {
    width: 140px;
    height: 140px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    object-fit: cover;
}


/* Rightside Image Pop */

.pop_right {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 10px;
    text-align: left;
    color: black;
}

.pop_right .stars {
    font-size: 0.8em;
}


/* Activités */

.activity_list h2 {
    margin: 1.5em 0;
}

.activity_block {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.act_content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-right: 1em;
}

.act_link {
    margin-bottom: 20px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    border-radius: 15px;
    color: black;
}

.activity_title {
    font-weight: bold;
    margin: 10px;
    padding-left: 10px;
}

.act_content img {
    width: 340px;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.img_act1 {
    height: 480px;
}

.img_act2 {
    height: 245px;
}

.img_act3 {
    height: 170px;
}

.img_act4 {
    height: 190px;
}

.img_act5 {
    height: 225px;
}


/* Footer */

.footer_block {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    background-color: #F2F2F2;
    margin-top: 2em;
    height: 200px;
}

.footer_link {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-top: 3em;
}

.footer_link h4 {
    margin: 0;
}

.footer_link a {
    color: black;
}

.footer_link ul {
    padding: 0;
}

.footer_link li {
    margin-bottom: 0.5em;
}


/* Effet hover Heb/Pop/Act */

.heb_group a:hover,
.pop_content:hover,
.act_link:hover {
    cursor: pointer;
    transform: scale(1.02);
    transition: ease 0.3s;
}


/* Effect hover color Afficher plus */

#link_heb:hover {
    color: #0065FC;
}


/* Effect Footer Hover color */

.footer_link a:hover {
    color: #0065FC;
}


/* Media querrie */

@media screen and (max-width: 1430px) {
    .bloc_page {
        margin: 0 auto;
    }
    .populaires {
        order: -1;
    }
    .pop_group {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        width: 100%;
    }
    .pop_content {
        width: 100%;
    }
    .heb_pop {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .heb_items {
        width: 100%;
    }
    .pic_dim {
        width: 100%;
    }
    .heb_block {
        background-color: #fff;
        width: 100%;
        padding: 0;
        margin-left: 20px;
    }
    .heb_group {
        justify-content: flex-start;
    }
    .activity_block {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: flex-start;
        width: 100%;
        height: 900px;
    }
    .act_content {
        width: 45%;
        height: 45%;
    }
    .act_link img {
        width: 100%;
        height: 200px;
    }
}

@media screen and (max-width: 1000px) {
    .bloc_page {
        margin: 0 auto;
    }
    .populaires {
        order: -1;
    }
    .pop_group {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .pop_img {
        width: 40%;
    }
    .pop_content {
        width: 90%;
    }
    .heb_pop {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .heb_items {
        width: 90%;
        margin-bottom: 1em;
    }
    .pic_dim {
        width: 100%;
    }
    .heb_block {
        background-color: #fff;
        width: 100%;
        padding: 0;
    }
    .heb_group {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 100%;
    }
    .activity_block {
        display: none;
    }
}