/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,300;1,600&display=swap');
* {
    font-family: 'Raleway';
    /* font-weight: bold; */
}

ul,
li,
a {
    list-style-type: none;
    text-decoration: none;
}

h2 {
    font-weight: bold;
    font-size: 1.3em;
}


/* body {
    
} */


/* Logo */

#logo {
    font-size: 1em;
}


/* Top Page */

#top_page {
    display: grid;
    width: 100%;
    grid-template-columns: 70% 10% 10% 10%;
    margin: 0;
}

#logo {
    grid-column: 1;
}

#sign {
    grid-column: 4;
    margin: auto;
}

#activites {
    grid-column: 3;
    margin: auto;
}

#hebergements {
    grid-column: 2;
    margin: auto;
}

#top_page a {
    font-size: 16px;
    color: #0065FC;
}

#activites a {
    color: black;
}

#hebergements a {
    font-weight: 600;
    border-top: 2px solid #0065FC;
    padding-top: 3.5em;
}


/* Effect Hover Nav Bar */


/* #activités a:hover {
    padding-top: 3.5em;
    border-top: 2px solid #0065FC;
    color: #0065FC;
} */


/* Introduction  */

.under_header {
    margin-top: 2em;
    margin-bottom: 2em;
}

h1 {
    margin: 0;
    font-size: 1.3em;
}

.under_header p {
    margin: 0;
}


/* Bloc Page*/

.bloc_page {
    margin: 45px auto 0;
    font-family: 'Raleway', sans-serif;
    max-width: 1440px;
}


/* Search Bar */

.search_button {
    background-color: #0065FC;
    color: white;
    border: 0;
    border-top-right-radius: 10px 10px;
    border-bottom-right-radius: 10px 10px;
    padding: 0.8em;
    cursor: pointer;
}

.icon_loc {
    padding: 0.7em;
    border-top-left-radius: 10px 10px;
    border-bottom-left-radius: 10px 10px;
    background-color: #F2F2F2;
}

.search_bar {
    display: flex;
    align-items: center;
    margin: 2em 0;
}

.search_bar input {
    font-size: 1em;
    padding: 0.5em;
}

.ville {
    font-weight: bold;
    color: black;
    outline: none;
}

.phone {
    display: none;
}


/* Filtre */

.filter {
    display: flex;
    margin-bottom: 1em;
    font-weight: bold;
}

.filter p {
    margin-right: 2em;
}

.filter_list {
    display: flex;
}

.filter_elem {
    display: flex;
    align-items: center;
    margin-right: 2em;
}

.filter a {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #F2F2F2;
    font-family: 'Raleway';
    color: black;
    border-radius: 30px;
    padding-right: 1em;
}

.filter_list i {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0065FC;
    background-color: #DEEBFF;
    border-radius: 50%;
    height: 3em;
    width: 3em;
    margin-right: 0.5em;
}


/* Effect Filter:hover background color */

.filter a:hover {
    background-color: #0065FC;
    color: #fff;
    transition: 0.3s;
}


/* Info */

.info {
    display: flex;
    align-items: center;
    margin-bottom: 1em;
}

.info i {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #F2F2F2;
    border-radius: 50%;
    color: #0065FC;
    background-color: #fff;
    height: 2em;
    width: 2em;
    margin-right: 10px;
}


/* Main */


/* Hébergements */

.heb_block {
    background-color: #F2F2F2;
    padding-left: 25px;
    border-radius: 20px;
    width: auto;
}

.heb_block h2 {
    margin-top: 1em;
    width: auto;
}

.heb_group {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2em;
    width: auto;
}

.heb_items {
    display: flex;
    flex-direction: column;
    margin-right: 30px;
    padding: 5px;
    background-color: #fff;
    border-radius: 15px;
    color: black;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

.heb_items p {
    margin: 0;
    margin-bottom: 0.5em;
}

.heb_card {
    padding-left: 10px;
    line-height: 1.3em;
    margin-top: 5px;
}

.heb_card .stars {
    margin-top: 5px;
}


/* Lien HEB ("Afficher plus") */

#link_heb {
    display: block;
    margin-bottom: 1em;
    color: black;
    font-weight: bold;
}


/* Image Hebergement */

.pic_dim {
    height: 140px;
    width: 300px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    object-fit: cover;
}


/* Stars */

.stars {
    color: #0065FC;
}

.black_star {
    color: #F2F2F2;
}


/* Hébergement + Populaires */

.heb_pop {
    display: flex;
    justify-content: space-between;
}


/* Populaires */

.populaires {
    margin: 0;
    background-color: #F2F2F2;
    border-radius: 20px;
    width: auto;
}

.pop_top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 15px;
}

.pop_top i {
    font-size: 1.3em;
}

.pop_group {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.pop_content {
    display: flex;
    background-color: #fff;
    padding: 5px;
    border-radius: 10px;
    margin: 15px;
    width: 320px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}


/* Image populaires */

.pop_img {
    width: 140px;
    height: 140px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    object-fit: cover;
}


/* Rightside Image Pop */

.pop_right {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 10px;
    text-align: left;
    color: black;
}

.pop_right .stars {
    font-size: 0.8em;
}


/* Activités */

.activity_list h2 {
    margin: 1.5em 0;
}

.activity_block {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.act_content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-right: 1em;
}

.act_link {
    margin-bottom: 20px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    border-radius: 15px;
    color: black;
}

.activity_title {
    font-weight: bold;
    margin: 10px;
    padding-left: 10px;
}

.act_content img {
    width: 340px;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.img_act1 {
    height: 480px;
}

.img_act2 {
    height: 245px;
}

.img_act3 {
    height: 170px;
}

.img_act4 {
    height: 190px;
}

.img_act5 {
    height: 225px;
}


/* Footer */

.footer_block {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    background-color: #F2F2F2;
    margin-top: 2em;
    height: 200px;
}

.footer_link {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-top: 3em;
}

.footer_link h4 {
    margin: 0;
}

.footer_link a {
    color: black;
}

.footer_link ul {
    padding: 0;
}

.footer_link li {
    margin-bottom: 0.5em;
}


/* Effet hover Heb/Pop/Act */

.heb_group a:hover,
.pop_content:hover,
.act_link:hover {
    cursor: pointer;
    transform: scale(1.02);
    transition: ease 0.3s;
}


/* Effect hover color Afficher plus */

#link_heb:hover {
    color: #0065FC;
}


/* Effect Footer Hover color */

.footer_link a:hover {
    color: #0065FC;
}


/* Media querrie */

@media screen and (max-width: 1430px) {
    .populaires {
        order: -1;
    }
    .pop_group {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        width: 100%;
    }
    .pop_content {
        width: 100%;
    }
    .heb_pop {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .heb_items {
        width: 100%;
        margin-right: 1em;
    }
    .pic_dim {
        width: 100%;
    }
    .heb_block {
        background-color: #fff;
        width: 100%;
        padding: 0;
        margin-left: 1em;
        margin-top: 1em;
    }
    .heb_group {
        justify-content: flex-start;
    }
    .activity_block {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: flex-start;
        width: 100%;
        height: 900px;
        margin-left: 1em;
    }
    .act_content {
        width: 45%;
        height: 45%;
    }
    .act_link img {
        width: 100%;
        height: 200px;
    }
    .activity_list h2 {
        margin-left: 1em;
        margin-bottom: 0;
    }
    #link_heb {
        margin-left: 0.5em;
    }
}

@media screen and (max-width: 1200px) {
    #top_page {
        display: grid;
        width: 100%;
        grid-template-columns: 55% 15% 15% 15%;
        margin: 0;
    }
    #logo {
        grid-column: 1;
    }
    #sign {
        grid-column: 4;
    }
    #activites {
        grid-column: 3;
    }
    #hebergements {
        grid-column: 2;
    }
}

@media screen and (max-width: 1005px) {
    body {
        margin-left: 1em;
    }
    /* .bloc_page {
        margin-top: 0;
    } */
    /*Populaire*/
    .populaires {
        order: -1;
    }
    .pop_group {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        width: 100%;
        margin: 0.5em auto;
    }
    .pop_content {
        width: 80%;
        margin: 0 0.5em;
    }
    .pop_right {
        font-size: 0.85em;
        /* display: inline; */
    }
    .pop_right strong {
        display: inline;
    }
    .heb_pop {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .pop_top {
        margin: 0 0.5em;
    }
    /* Hébergement */
    .heb_items {
        width: 100%;
        margin-right: 1em;
    }
    .heb_card {
        font-size: 0.9em;
    }
    .pic_dim {
        width: 100%;
    }
    .heb_block {
        background-color: #fff;
        width: 100%;
        padding: 0;
        margin-left: 0;
    }
    .heb_group {
        justify-content: flex-start;
    }
    #link_heb {
        margin-left: 0.5em;
    }
    /*Activités*/
    .activity_block {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: flex-start;
        width: 100%;
        height: 900px;
        margin: 0 auto;
    }
    .act_content {
        width: 46%;
        height: 46%;
    }
    .act_link img {
        width: 100%;
        height: 200px;
    }
    .activity_list h2 {
        margin-left: 0;
        margin-bottom: 0;
    }
    .filter {
        font-size: 0.9em;
    }
    footer {
        font-size: 0.9em;
    }
}

@media screen and (max-width: 856px) {
    body {
        margin-left: 1em;
    }
    /*Populaire*/
    .populaires {
        order: -1;
    }
    .pop_group {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 100%;
        margin: 0.5em auto;
    }
    .pop_content {
        width: 80%;
        margin: 1em 0.5em;
    }
    .pop_right {
        font-size: 0.85em;
        /* display: inline; */
    }
    .pop_right strong {
        display: inline;
    }
    .heb_pop {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .pop_top {
        width: 90%;
    }
    .pop_img {
        width: 30%;
    }
    /* Hébergement */
    .heb_items {
        width: 100%;
        margin-right: 1em;
    }
    .heb_card {
        font-size: 0.9em;
    }
    .pic_dim {
        width: 100%;
    }
    .heb_block {
        background-color: #fff;
        width: 100%;
        padding: 0;
        margin-left: 0;
    }
    .heb_group {
        justify-content: flex-start;
    }
    #link_heb {
        margin-left: 0.5em;
    }
    /*Activités*/
    .activity_block {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: flex-start;
        width: 100%;
        height: 900px;
        margin: 0 auto;
    }
    .act_content {
        width: 46%;
        height: 46%;
    }
    .act_link img {
        width: 100%;
        height: 200px;
    }
    .activity_list h2 {
        margin-left: 0;
        margin-bottom: 0;
    }
    .filter {
        font-size: 0.9em;
        flex-direction: column;
    }
    .filter_list {
        flex-wrap: wrap;
    }
    .filter_list a {
        margin: 0.5em 0;
    }
    footer {
        font-size: 0.9em;
        height: 100%;
    }
    h1 {
        font-size: 1em;
    }
    /*Top page grid*/
    #top_page {
        display: grid;
        width: 100%;
        grid-template-columns: 40% 20% 20% 20%;
        margin: 0;
    }
    #logo {
        grid-column: 1;
    }
    #sign {
        grid-column: 4;
    }
    #activites {
        grid-column: 3;
    }
    #hebergements {
        grid-column: 2;
    }
    #top_page a {
        font-size: 0.9em;
    }
    #hebergements a {
        padding-top: 3.9em;
    }
}

@media screen and (max-width: 630px) {
    /*Populaire*/
    .populaires {
        order: -1;
    }
    .pop_group {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 100%;
        margin: 0.5em auto;
    }
    .pop_content {
        width: 70%;
        margin: 1em 0.5em;
    }
    .pop_right {
        font-size: 0.85em;
    }
    .pop_right strong {
        display: inline;
    }
    .pop_top {
        justify-content: space-around;
        width: auto;
    }
    .pop_img {
        width: 30%;
    }
    /* Hébergement */
    .heb_items {
        width: 70%;
        margin-right: 1em;
        margin-bottom: 1em;
        margin-top: 1em;
    }
    .heb_pop {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .heb_block h2 {
        text-align: center;
    }
    .heb_card {
        font-size: 0.9em;
    }
    .pic_dim {
        width: 100%;
    }
    .heb_block {
        background-color: #fff;
        width: 100%;
        padding: 0;
        margin-left: 0;
    }
    .heb_group {
        flex-direction: column;
        justify-content: flex-start;
        margin-bottom: 1em;
    }
    #link_heb {
        margin-left: 0.5em;
    }
    /*Activités*/
    .activity_block {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: flex-start;
        width: 100%;
        height: 900px;
        margin: 0 auto;
    }
    .act_content {
        width: 46%;
        height: 46%;
    }
    .act_link img {
        width: 100%;
        height: 200px;
    }
    .activity_list h2 {
        display: flex;
        justify-content: center;
        margin-left: 0;
        margin-bottom: 0;
    }
    .activity_title {
        font-size: 0.9em;
    }
    .filter {
        font-size: 0.9em;
        flex-direction: column;
    }
    .filter_list {
        flex-wrap: wrap;
    }
    .filter_list a {
        margin: 0.5em 0;
    }
    footer {
        font-size: 0.9em;
        height: 100%;
    }
    .footer_block {
        display: flex;
        align-items: flex-start;
        background-color: rgb(242, 242, 242);
        margin-top: 2em;
        height: 100%;
        flex-direction: column;
        align-content: center;
        padding-left: 1.5em;
    }
}

@media screen and (max-width: 564px) {
    .bloc_page {
        margin-top: 0;
    }
    /*Activités*/
    .activity_block {
        flex-direction: column;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: flex-start;
        width: 100%;
        height: 100%;
        margin: 0 auto;
    }
    .act_content {
        width: 95%;
        height: 100%;
    }
    .activity_list h2 {
        justify-content: flex-start;
        margin-bottom: 2em;
    }
    .act_link img {
        height: 150px;
    }
    /* Hébergement */
    .heb_group {
        width: 100%;
    }
    .heb_items {
        width: 95%;
    }
    .heb_card {
        font-size: 1em;
    }
    .heb_block h2 {
        text-align: left;
    }
    /* Populaire */
    .populaires {
        border-radius: 0;
        width: 100%;
    }
    .pop_group {
        width: 100%;
    }
    .pop_content {
        width: 90%;
    }
    .pop_img {
        width: 40%;
    }
    .pop_right {
        font-size: 1em;
    }
    .pop_top {
        justify-content: space-between;
    }
    /* Top page */
    h1 {
        font-size: 1em;
    }
    .under_header p {
        font-size: 0.9em;
    }
    /* Search bar on/off */
    .phone {
        display: initial;
        background-color: #0065FC;
        color: white;
        border: 0;
        border-top-right-radius: 10px 10px;
        border-bottom-right-radius: 10px 10px;
        padding: 0.8em;
        cursor: pointer;
    }
    .search_button {
        display: none;
    }
    #top_page {
        display: grid;
        width: 100%;
        grid-template-columns: 50% 50%;
        grid-template-rows: 1fr 1fr;
        margin: 0;
        grid-template-areas: "logo sign" "heb act";
    }
    #logo {
        grid-area: logo;
    }
    #sign {
        grid-area: sign;
        padding-left: 2em;
    }
    #activites {
        grid-area: act;
        width: 100%;
        text-align: center;
        border-bottom: 3px solid #F2F2F2;
        padding-bottom: 1em;
        padding-top: 1em;
    }
    #hebergements {
        grid-area: heb;
        width: 100%;
        text-align: center;
        border-bottom: 3px solid #0065FC;
        padding-bottom: 1em;
        padding-top: 1em;
    }
    .top_nav div {
        margin-left: 50px;
    }
    #hebergements a {
        border-top: 0;
    }
}